<template>
  <div>
    <frontNavbar></frontNavbar>

    <section id="banner" class="text-center">
      <div class="container-fluid" style="margin-left:40px;">
        <div>
          <div class="col-sm-6 main-banner-box" style="background-image: url('/image/2.jpg');"></div>
          <div class="row col-sm-6">
            <div class="col-xs-6 item-banner-box" style="margin:0px !important;padding:0px !important;">
              <div class="item-banner" style="background-image: url('/image/3.jpg');"></div>
            </div>
            <div class="col-xs-6 item-banner-box" style="margin:0px !important;padding:0px !important;">
              <div class="item-banner" style="background-image: url('/image/4.jpg');"></div>
            </div>
            <div class="col-xs-6 item-banner-box" style="margin:0px !important;padding:0px !important;">
              <div class="item-banner" style="background-image: url('/image/5.jpg');">
                <div class="item-banner-title">
                  <p class="item-banner-date">27 Januari 2017</p>
                  <h4>Title Title Title Title Title Title Title Title TitleTitleTitle</h4>
                </div>
              </div>
            </div>
            <div class="col-xs-6 item-banner-box" style="margin:0px !important;padding:0px !important;">
              <div class="item-banner" style="background-image: url('/image/1.jpg');"></div>
            </div>

          </div>
        </div>
      </div>

    </section>

    <section style="margin-top:40px;">
      <div class="container-fluid">

        <div class="col-md-9">
          <h3 class="text-center"><strong>Artikel Terkini</strong></h3>
          <hr style="margin-bottom:-40px;">

          <div class="col-md-4" v-for="narration in narrations">
            <div class="card">
              <div class="card-header-image"></div>
              <div class="card-content">
                <h5><a class="text-date" href="#">27 Januari 2017 </a> / <a href="#" class="text-date"> Nur Cahyo Putro</a></h5>
                <h4><router-link v-bind:to="'/' + narration.id" class="text-title"><b>{{ narration.title }}</b></router-link></h4>
                <p style="font-style: italic;"><froalaView v-model="narration.excerpt"></froalaView></p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <div class="card" style="height:300px;box-shadow: 0 6px 12px 3px rgba(0,0,0,0.2);">
              <div class="card-content">
                <h3>Social Media</h3>
                <hr>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/facebook.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">LIKE</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/twitter.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Follow</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/youtube.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Subscribe</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/instagram.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>



  </div>
</template>

<script>
import FrontNavbar from './../partials/FrontNavbar.vue';
export default {
  data:function(){
    return{
      narrations:[]
    };
  },
  components:{
    'frontNavbar': FrontNavbar
  },
  ready: function() {
    this.created();
  },
  created(){
    axios.get('/api/narrations').then(response => {
      console.log(response);
      this.narrations = response.data;
    });
  },
  methods:{
    getNarration(){
      axios.get('/api/narrations').then(response => {
        console.log(response);
        this.narrations = response.data;
      });
    }
  }
}
</script>
<style media="screen">
.main .img-responsive {
  margin-bottom: 30px;
}
</style>
