<template>
  <div>
    <frontNavbar></frontNavbar>

    <section style="margin-top:20px;">
      <div class="container-fluid">

        <div class="col-md-9" style="margin-top:60px;">
          <img src="/image/banner.jpg" class="img-rounded">
          <h1><b>{{ narrations.title }}</b></h1>
          <h4 class="text-excerpt"><froalaView v-model="narrations.excerpt"></froalaView></h4>

          <hr>
          <h3>Author</h3>
          <hr>
          <p class="text-body"><froalaView v-model="narrations.body"></froalaView></p>
          <hr>
          <h3>Author</h3>
          <hr>

          <h1>Comments here</h1>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <div class="card" style="height:300px;box-shadow: 0 6px 12px 3px rgba(0,0,0,0.2);">
              <div class="card-content">
                <h3>Social Media</h3>
                <hr>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/facebook.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">LIKE</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/twitter.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Follow</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/youtube.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Subscribe</button>
                </div>
                <br>
                <br>
                <div class="col-md-12" style="padding-left:10px;text-align:center !important;">
                  <img src="/image/social/instagram.png" class="pull-left">
                  <button style="width:80px;" class="btn btn-info btn-xs pull-right" type="button" name="button">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>



  </div>
</template>

<script>
import FrontNavbar from './../partials/FrontNavbar.vue';
export default {
  data:function(){
    return{
      narrations:[]
    };
  },
  ready: function() {
    this.created();
  },
  components:{
    'frontNavbar': FrontNavbar
  },
  created(){
    axios.get('/api/narration/edit/' + this.$route.params.id).then(response => {
      this.narrations = response.data;
      console.log(response);
    });
  },
  methods:{
  }
}
</script>
<style media="screen">
.main .img-responsive {
  margin-bottom: 30px;
}
</style>
