<template>
  <div>

    <nav class="navbar navbar-findcond navbar-fixed-top">
      <div class="container-fluid">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#">Cermin</a>
    		</div>
    		<div class="collapse navbar-collapse" id="navbar">
    			<ul class="nav navbar-nav navbar-right">

    				<li><router-link to="/dashboard"> Dashboard</router-link></li>
            <li><router-link to="/listicle"> Listicle</router-link></li>
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li><!-- start message -->
                      <a href="#">
                        <div class="pull-left">
                          <img src="/image/mail.png" class="img-responsive" alt="User Image">
                        </div>
                        <h4>
                          Support Team
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <!-- end message -->
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="/image/mail.png" class="img-responsive" alt="User Image">
                        </div>
                        <h4>
                          AdminLTE Design Team
                          <small><i class="fa fa-clock-o"></i> 2 hours</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="/image/mail.png" class="img-responsive" alt="User Image">
                        </div>
                        <h4>
                          Developers
                          <small><i class="fa fa-clock-o"></i> Today</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="/image/mail.png" class="img-responsive" alt="User Image">
                        </div>
                        <h4>
                          Sales Department
                          <small><i class="fa fa-clock-o"></i> Yesterday</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="/image/mail.png" class="img-responsive" alt="User Image">
                        </div>
                        <h4>
                          Reviewers
                          <small><i class="fa fa-clock-o"></i> 2 days</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
              </ul>
            </li>
    				<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Nur Cahyo</span> <span class="caret"></span></a>
    					<ul class="dropdown-menu" role="menu">
    						<li><router-link to="/me">Change Profile</router-link></li>
    						<li><a href="#">Change Password</a></li>
    						<li class="divider"></li>
    						<li><a href="#exit">Sign out</a></li>
    					</ul>
    				</li>
    			</ul>
    			<form class="navbar-form navbar-right search-form" role="search">
    				<input type="text" class="form-control" placeholder="Search" />
    			</form>
    		</div>
    	</div>
    </nav>

  </div>
</template>

<script>
export default {
}
</script>
