<template>

  <div>
    <nav class="navbar navbar-findcond navbar-fixed-top" style="height:80px !important;padding-top:13px;">
      <div class="content">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#" style="font-size:35px;">Cermin</a>
    		</div>
    		<div class="collapse navbar-collapse" id="navbar">
          <form class="navbar-form navbar-right search-form" role="search">
            <!-- <input type="text" class="form-control" placeholder="Search" /> -->
            <button class="btn btn-info" type="button" name="button"><i class="fa fa-search"></i></button>
          </form>
          <strong>
            <ul class="nav navbar-nav navbar-right">

              <li><router-link to="/dashboard" class="font-gray"> #HASHTAG</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> NEWS</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> HYPE</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> LIFE</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> BUSINESS</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> QUIZ</router-link></li>
              <li><router-link to="/listicle" class="font-gray"> COMMUNITY</router-link></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Nur Cahyo</span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><router-link to="/me">Change Profile</router-link></li>
                  <li><a href="#">Change Password</a></li>
                  <li class="divider"></li>
                  <li><a href="#exit">Sign out</a></li>
                </ul>
              </li>
            </ul>

          </strong>
    		</div>

    	</div>
    </nav>




  </div>

</template>

<script>
export default {
}
</script>
