<template>
  <div class="col-md-4" style="float:right">
    <router-link to="/dashboard/listicle/create" class="btn btn-info"><strong><i class="fa fa-file-text-o"></i> Create Listicle</strong></router-link>
    <router-link to="/dashboard/narration/create" class="btn btn-info"><strong><i class="fa fa-file-text-o"></i> Create Naration</strong></router-link>

    <div class="panel panel-default" style="margin-top:20px;">
      <img src="/image/login.png" class="img-rounded" width="150">
      <div style="display:inline-block;">
        <h3>Nur Cahyo Putro</h3>
        <p>Developer</p>
      </div>
    </div>
    <div class="panel panel-default text-center">
      <h1>Developer</h1>
    </div>
  </div>
</template>

<script>
export default {
}
</script>
