<template>
  <div>
    <div class="container-fluid main-content" style="margin-bottom: 170px;">

      <router-view></router-view>
    </div>


  </div>

</template>
<script>
export default {
  data:function(){
    return{
      form: true
    };
  },
  ready: function() {
    this.created();
  }
}
</script>
