<template>
  <div>
    <backNavbar></backNavbar>
    <div class="col-md-12" style="gravity:center !important;">
      <form method="post" enctype="multipart/form-data" v-on:submit.prevent="saveNarration">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h3>Cover Image</h3>
              <p>Landscape: 850 x 350 px</p>
              <button class="btn btn-info"><i class="fa fa-image"></i> Add Image</button>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" placeholder="Title here" type="text" v-model="title">
        </div>
        <div id="froala" class="form-group">
          <label>Excerpt</label>
          <textarea class="form-control" placeholder="Excerpt here" rows="3" v-model="excerpt"></textarea>
        </div>

        <div class="form-group">
          <label>Body</label>
          <froala v-model="body"></froala>
        </div>


      </div>
      <div class="col-md-2">

      </div>

      <nav class="navbar navbar-findcond navbar-fixed-bottom">
        <div class="container-fluid text-center" style="padding-top: 6px">
      		<button class="btn btn-default" type="submit" name="button">Save to Draft</button>
          <button class="btn btn-default" type="button" name="button">Submit to Editor</button>
      	</div>
      </nav>
    </form>
    </div>
  </div>

</template>

<script>
import BackNavbar from './../partials/BackNavbar.vue';
import EditNarration from './../narration/EditNarration.vue';
import router from './../../router'

export default {
  data:function(){
    return{
      title:'',
      excerpt:'',
      body:''
    };
  },
  ready: function() {
    this.created();
  },
  components:{
    'backNavbar': BackNavbar
  },
  methods:{
    saveNarration(){
      axios.post('/api/narration/save-narration', {
        title: this.title,
        excerpt: this.excerpt,
        body: this.body
      }).then(response => {
        router.push('/dashboard/')
        console.log(response)
      }).catch(error => {
        console.log(error)
      });
    }
  }
}
</script>
