<template>
  <div class="col-md-12" style="gravity:center !important;">
    <backNavbar></backNavbar>
    <form method="post" enctype="multipart/form-data" v-on:submit.prevent="updateNarration">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label>Title</label>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="text-center">Cover Image</h1>
          </div>
        </div>
      </div>

        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="title" v-model="narrations.title">
        </div>

        <div class="form-group">
          <label>Excerpt</label>
          <froala v-model="narrations.excerpt">Init text</froala>
        </div>

        <div class="form-group">
          <label>body</label>
          <froala v-model="narrations.body"></froala>
        </div>

    </div>
    <div class="col-md-2">

    </div>

    <nav class="navbar navbar-findcond navbar-fixed-bottom">
      <div class="container-fluid text-center" style="padding-top: 6px">
    		<button class="btn btn-default" type="submit" name="button">Save to Draft</button>
        <button class="btn btn-default" type="button" name="button">Submit to Editor</button>
    	</div>
    </nav>
  </form>
  </div>
</template>

<script>
import BackNavbar from './../partials/BackNavbar.vue';

export default {
  data:function(){
    return{
      narrations:[]
    };
  },
  ready: function() {
    this.created();
  },
  created(){
    axios.get('/api/narration/edit/' + this.$route.params.id).then(response => {
      this.narrations = response.data;
      console.log(response);
    });
  },
  components:{
    'backNavbar': BackNavbar
  },
  methods:{
    updateNarration(){
      axios.put('/api/narration/update-narration/' + this.$route.params.id, {
        title: this.narrations.title,
        excerpt: this.narrations.excerpt,
        body: this.narrations.body
      }).then(response => {
        console.log(response)
      }).catch(error => {
        console.log(error)
      });
    }
  }
}
</script>
