<template>
  <div>
    <backNavbar></backNavbar>
    <div class="col-md-8">
      <div class="panel panel-default" v-for="narration in narrations">
        <div class="panel-heading">
          <h4>{{narration.title}}</h4>
          <p>
            <strong>Create date:</strong> 23 Juni 2017
            <span class="label label-default">DRAFT</span>
          </p>
        </div>
        <div class="panel-body">
          <p>{{narration.body}}</p>
        </div>
        <div class="panel-footer">
          <a href="#" style="margin-right:20px;"><strong> preview </strong></a>
          <router-link v-bind:to="'/dashboard/narration/' + narration.id + '/edit'" style="margin-right:20px;"><strong>edit</strong></router-link>

          <a v-on:click="deleteNarration(narration.id)" style="margin-right:20px;"><strong> delete </strong></a>
        </div>
      </div>
    </div>
    <sidebar></sidebar>
  </div>

</template>

<script>
import BackNavbar from './../partials/BackNavbar.vue';
import Sidebar from './../partials/Sidebar.vue';

export default {
  data:function(){
    return{
      narrations:[]
    };
  },
  components:{
    'sidebar': Sidebar,
    'backNavbar': BackNavbar
  },
  ready: function() {
    this.created();
  },
  created(){
    axios.get('/api/narrations').then(response => {
      console.log(response);
      this.narrations = response.data;
    });
  },
  methods:{
    getNarration(){
      axios.get('/api/narrations').then(response => {
        console.log(response);
        this.narrations = response.data;
      });
    },
    deleteNarration(id){
      axios.delete('/api/narration/delete-narration/' + id).then(response => {
        console.log(response)
      }).catch(error => {
        console.log(error)
      });
      this.getNarration();
    }
  }
}
</script>
