<template>
  <div class="col-md-12" style="gravity:center !important;">
    <backNavbar></backNavbar>
    <form method="post" enctype="multipart/form-data" v-on:submit.prevent="saveNarration">
    <div class="col-md-2">

    </div>
    <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title pull-left" id="exampleModalLabel"><b>Browse Gallery </b>( maximum file size 1 MB )</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <input class="pull-left" type="file" id="fileInput">
            <button id="fileButton" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i>Loading..."><i class="fa fa-image"></i> Upload image</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title pull-left" id="exampleModalLabel"><b>Upload Image</b></h4>
          </div>
          <div class="modal-body">
            <img src="" class="img-responsive" id="img-value" alt="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"><i class="fa fa-image"></i> Upload image</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="form-group">
        <div class="panel panel-default">
          <div id="cover-panel">
            <img src="" id="cover-preview" class="img-responsive">
            <a href="#!" class="btn btn-primary btn-transparent" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-image"></i> Change Image
            </a>
          </div>
          <div class="panel-body text-center" id="cover-input">

            <h1>Cover Image</h1>
            <p>Landscape: 850 x 350 px</p>
            <a href="#!" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-image"></i> Add Image

            </a>
          </div>
        </div>
      </div>


        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="title" v-model="title" placeholder="Title">

        </div>
        <div class="form-group">

        </div>

        <div class="form-group">
          <label>Excerpt</label>
          <textarea class="form-control" name="excerpt" rows="3" cols="80" v-model="excerpt" placeholder="Excerpt"></textarea>
        </div>

        <div class="form-group">
          <label>body</label>
          <froala v-model="body"></froala>
        </div>

        <div class="form-group">
          <div id="form-message" track-by="items.length">
            <template v-for="(item, index) in items">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h5>
                      <b>Listicle {{ index + 1 }}</b>
                      <a v-on:click="removeMessage">
                        <i class="fa fa-close pull-right"></i>
                      </a>
                    </h5>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <input type="text" v-model="item.subtitle" class="form-control" placeholder="Sub Title">
                    </div>
                    <div class="form-group">
                      <div class="panel panel-default panel-background">
                        <div class="panel-body text-center">
                          <h3>Insert Media #{{ index + 1 }}</h3>
                          <p>insert photo here</p>
                          <p>Landscape photo: width 850 px</p>
                          <p>Gunakan foto tanpa watermark</p>
                          <input type="file" id="fileButton">
                          <button class="btn btn-info">
                            <i class="fa fa-image"></i> Add Image
                          </button>
                          <br>
                          <br>
                          <!-- <input type="text" class="form-control" placeholder="URL Youtube"> -->
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="panel panel-default">
                        <froala v-model="item.body"></froala>
                      </div>
                    </div>
                  </div>
                </div>
            </template>
            <hr>
            <a class="btn btn-default" v-on:click="addNewMessage">
              <i class="fa fa-pencil"></i> Add section
            </a>

          </div>


        </div>

    </div>
    <div class="col-md-2">

    </div>


    <nav class="navbar navbar-findcond navbar-fixed-bottom">
      <div class="container-fluid text-center" style="padding-top: 6px">
    		<button class="btn btn-default" type="submit" name="button">Save to Draft</button>
        <button class="btn btn-default" type="button" name="button">Submit to Editor</button>
    	</div>
    </nav>
  </form>
  </div>
</template>

<script>
import BackNavbar from './../partials/BackNavbar.vue';
import router from './../../router';



export default {
  data:function(){
    return{
      title:'',
      excerpt:'',
      body:'',
      config: {
        events: {
          'froalaEditor.initialized': function () {
            console.log('initialized')
          }
        }
      },
      items:[
        {
          subtitle: '',
          body: ''
        }
      ],
      submitted:false,
    };
  },
  computed: {
    slug: function() {
      var slug = this.sanitizeTitle(title);
      return slug;
    }
  },
  ready: function() {
    this.created();
  },
  components:{
    'backNavbar': BackNavbar
  },
  methods:{
    addNewMessage: function(){
  		this.items.push({
        subtitle: '',
        body: ''
      });
  	},
    removeMessage: function(){
  		this.items.shift({
        subtitle: '',
        body: ''
      });
  	},
    saveNarration(){
      axios.post('/api/listicle/save-listicle', {
        title: this.title,
        excerpt: this.excerpt,
        body: this.body,
        items: this.items
      }).then(response => {
        console.log(response.data)
      }).catch(error => {
        console.log(error)
        router.push('/dashboard/me')
      });
    },
  }

}
</script>
