hp<template>
  <div>
    <frontNavbar></frontNavbar>
    <section class="text-center">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" v-on:submit.prevent="doLogin">
              <div class="form-group">
                <label class="pull-left">Name</label>
                <input v-model="email" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="pull-left">Password</label>
                <input v-model="password" type="password" class="form-control">
              </div>
              <div class="form-group pull-left">
                <button class="btn btn-primary" type="submit"> Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

    </section>

  </div>
</template>

<script>
import FrontNavbar from './../partials/FrontNavbar.vue'
import router from './../../router'

export default {
  data:function(){
    return{
      email: '',
      password: ''
    };
  },
  components:{
    'frontNavbar': FrontNavbar
  },
  ready: function() {
    this.created();
  },
  methods:{
    doLogin(){
      var data = {
        client_id: '2',
        client_secret: 'iNIOE9gEPSuPUEvSYnUgvu3xjBAPpoPPG4LcxSdW',
        grant_type: 'password',
      	username: this.email,
      	password: this.password
      }
      axios.post('/oauth/token', data).then(response => {
        console.log(response.data.access_token)
        var authUser = {}
        authUser.access_token = response.data.access_token
        authUser.refresh_token = response.data.refresh_token
        authUser.expires_in = response.data.expires_in
        window.localStorage.setItem('authUser', JSON.stringify(authUser))
        // router.push({ name: 'dashboard' })
      }).catch(error => {
        console.log(error)
        // router.push('/dashboard/me')
      });

    },
  }
}
</script>
